body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #302728;
    color: white;
    padding: 10px 20px;
}

header .logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

header .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

header .nav-links li {
    margin: 0 10px;
}

header .nav-links a {
    color: white;
    text-decoration: none;
}

header .nav-links a.active {
    border-bottom: 2px solid #ffcc00;
}

.contact {
    text-align: center;
    padding: 50px 20px;
}

.contact h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 30px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact button {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #ffaa00;
}

footer {
    background-color: #302728;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    position: absolute;
    width: 99%;
}
body {
    overflow: hidden;
}

/* For specific elements, if needed */
.scrollable-element {
    overflow: hidden;
}
